<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/robots"><%= "< back" %></a>

    <form id="new-robot-form" action="<%= formAction %>" method="<%= formMethod %>">
      <label for="name">Name</label>
      <input id="name" name="name" type="text" placeholder="My Robot">
      <br>
      <label for="description">Description</label>
      <textarea id="description" name="description" rows="10" placeholder="Does all the things..."></textarea>
      <br>
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
